body {
    background-color: rgb(214, 244, 246);
    font-size: 30px;
    padding: 30px;
    border: 1px solid black;
    margin: auto;
}


.cabecalho h1 {
    margin-bottom: 40px;
    width: 60%;
    float: left;
}

.navegacao li {
    display: inline-block;
    padding: 5px;
    margin-top: 50px;    
}

.navegacao a {
    list-style: none;
    color: black;
    margin-left: 30px;
}

.artigo{
    width: 80%;
}

.artigo h1 {
    clear: both;
    text-align: center;
    font-size: 60px;
    margin-top: 100px;
}

.tit_info_cient{
    width: 50%;
    padding-left: 180px;
    margin-top: 0px ;
    float: left;
    
}

.infos_cientificas {
    float: left;
    width: 50%;
    margin-top: 0px;
    padding-left: 60px;
    text-align: justify;
  
}

.tabela {
    float: right;
    margin-right: 10%;
    margin-top: -70px;
    
}

.taxonomia {
    text-align: center;
    border-spacing: 0px;
}

.taxonomia td {
    border: 2px solid #606060;
    padding: 10px;
    width: 200px;
}

.caracteristicas {
    clear: both;
}

.caracteristicas h2 {
    margin-top: 300px;
    padding: 20px;
}

.soco {
    padding-left: 50px;
    width: 77%;
    text-align: justify;
}

.soco img{
    border: #606060;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-left:60px;
}

.visao img{
    float: left;
    margin-left: 60px;
    margin-top: 50px;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.visao h3{
    padding-left: 50px;
}

.visao p{
    float: right;
    width: 40%;
    text-align: justify;
    margin-right: 300px;
    margin-top: -10px;    
}

.anatomia{
    clear: both;
}

.anatomia h2{
    padding-left: 50px;
}

.anatomia img {
    float: right;
    margin-right: 280px;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
 .anatomia p{
    float: left;
    width: 40%;
    margin-left: 50px;
    text-align: justify;
 }

 .comportamento{
    clear: both;
    width: 80%;
 }

 .comportamento p{
    float: right;
    width: 40%;
    text-align: justify;
    margin-right: 60px;
    margin-top: 10px;  
 }

 .comportamento img{
    float: left;
    margin-left: 60px;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 }

 .referencias{
    border-top: 1px solid black;
    clear: both;    
    text-align: center;
 }

 .referencias{
    text-align: center;
    margin-top: 400px;
 }

 .referencias li{
    text-align: left;
    text-decoration: none;
    text-transform: lowercase;
 }

 aside{
    display: block;
    position: absolute;
    top: 850px;
    margin-left: 1280px;
    height: 500px;
    width: 500px;
 }

 aside h2{
    text-align: center;
    margin-bottom:20px;
 }

 aside p{
    padding: 2px;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
 }

 aside iframe{
    margin-left: 30px;
  }

  footer{
    text-align: center;
    border-top: 1px solid black;
  }