 *{
  box-sizing: border-box;
 }

 body{
  background-image: url(./pexels-valentin-antonucci-691637.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: azure;
  font-weight:bolder;
  display:grid;
  justify-content: center;
  align-items: center;
}
.display-1{
  text-align: center;
}

h1{
  text-shadow: 2px 2px green;
}

#form{

  margin-left: auto;
  padding: 20px;
  color: azure;
  background-color:rgba(0,0,0,0.3);
  border-radius: 10px;
  box-shadow: 0 0 16px 0 rgba(0,0,0,0.4);

}

textarea{
  width: 60%;
  resize: none;
}
 
#buttons{
display: flex;
justify-content: center;
align-items: center;
margin-top: 10px;
margin-bottom: 50px;
  
} 


button{
  width: 200px;
  margin-right: 50px;
}


#enviar{
  background-color: green;
}

#apagar{
  background-color: red;
}

#enviar:disabled{

}

.bt{
  width: 150px;
  height: 30px;
  border-radius: 15%;
  background-color: white;
  margin-right: 10px;
}

.clbt{
  background-color: white;
  margin-left: 50px;
}

